*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to right top, green, blue);
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-bottom: 40px;
}

.generator-container{
    background-color: rgba(0,0,0,0.7);
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 10px 12px 3px rgba(255, 255, 255, 0.25);
}

.result-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;

}

#result{
    width: 90%;
    height: 42px;
    background-color: rgba(255, 255, 255, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    border-radius: 5px 0px 0px 5px;
}

#clipboard{
    width: 10%;
    font-size: 1.2rem;
    height: 42px;
    background-color: orange;
    padding: 0px;
    border: 0px solid orange;
    border-radius: 0px 5px 5px 0px;
}

.options{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    justify-content: space-between;
}

.password-length{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.password-length input{
    width: 60%;
    font-family: 'Courier New', Courier, monospace;
}

.option{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

#generate-password{
    background-color: white;
    padding: 10px;
    margin-top: 40px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    width: 100%;
}

#generate-password:hover {
    background-color: rgba(255, 255, 255, 0.25);
    color: white
}

#generate-password:active {
  box-shadow: 2px 2px #666;
  transform: translateY(2px);
}

#clipboard:hover {
    background-color: rgba(255, 225, 0, 0.792);
    color: white
}

#clipboard:active {
  box-shadow: 2px 2px #666;
  transform: translateY(2px);
}